/*animations*/
.animation-box {
  height: 40vw;
  width: 40vw;
  display: flex;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  .animation-layer {
    max-height: 80%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80%;
    width: 80%;
    animation: float 2s ease-in-out alternate infinite;
    pointer-events: none;
  }
  img {
    &:nth-child(1) {
      transform: translate(-50%, -50%);
      animation: float 3s ease-in-out 1s infinite normal none running;
    }

    &:nth-child(2) {
      transform: translate(-50%, -50%);
      animation: float 3s ease-in-out 0.66s infinite normal none running;
    }

    &:nth-child(3) {
      transform: translate(-50%, -50%);
      animation: float 3s ease-in-out 0.33s infinite normal none running;
    }
  }
}

@keyframes float {
  0% {
    transform: translate(-50%, -50%);
  }

  50% {
    transform: translate(-51%, -53%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}
