* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ddd;
}

// Palette colori

$white: #ffffff;
$crystal: #f4eeff;
$lightgray: #eff4f5;
$violet: #280d5f;
$purple: #7645d9;
$mauve: #7a6eaa;
$lightmauve: #b8add2;
$cyan: #1fc7d4;
$orange: #ffb237;
$pink: #ed4b9e;

$failure33: #ed4b9e33;
$primary0f: #1fc7d40f;
$primary3D: #1fc7d43d;
$primaryBright: #53dee9;
$primaryDark: #0098a1;
$success: #31d0aa;
$success19: #31d0aa19;
$warning2D: #ed4b9e2d;
$warning33: #ed4b9e33;
$binance: #f0b90b;
$overlay: #452a7a;
$gold: #ffc700;
$silver: #b2b2b2;
$bronze: #e7974d;
$secondary: #9a6aff;
$secondary80: #9a6aff80;
$background: #08060b;
$backgroundDisabled: #3c3742;
$backgroundAlt: #27262c;
$backgroundAlt2: rgba(39,38,44,.7);
$cardBorder: #383241;
$dropdown: #1e1d20;
$dropdownDeep: #100c18;
$invertedContrast: #191326;
$input: #372f47;
$inputSecondary: #262130;
$tertiary: #353547;
$text99: #f4eeff99;
$textDisabled: #666171;
$disabled: #524b63;
$gradientBubblegum: linear-gradient(139.73deg,#313d5c,#3d2a54);
$gradientInverseBubblegum: linear-gradient(139.73deg,#3d2a54,#313d5c);
$gradientCardHeader: linear-gradient(166.77deg,#3b4155,#3a3045);
$gradientBlue: linear-gradient(180deg,#00707f,#19778c);
$gradientViolet: linear-gradient(180deg,#6c4999,#6d4db2);
$gradientVioletAlt: linear-gradient(180deg,#434575,#66578d);
$gradientGold: linear-gradient(180deg,#ffd800,#fdab32);
$gradientBold: linear-gradient(#53dee9,#9a6aff);

body {
    background-color: #0b406d;
}

// Font Kanit

@font-face {
    font-family: Kanit;
    src: url("/assets/fonts/Kanit/Kanit-ExtraLight.ttf");
    font-weight: 100;
}

@font-face {
    font-family: Kanit;
    src: url("/assets/fonts/Kanit/Kanit-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: Kanit;
    src: url('/assets/fonts/Kanit/Kanit-Regular.ttf');
    font-weight: 300;
}

@font-face {
    font-family: Kanit;
    src: url('/assets/fonts/Kanit/Kanit-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Kanit;
    src: url('/assets/fonts/Kanit/Kanit-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: Kanit;
    src: url('/assets/fonts/Kanit/Kanit-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Kanit;
    src: url('/assets/fonts/Kanit/Kanit-ExtraBold.ttf');
    font-weight: 800;
}

// Tipografia

h1 {
    font-size: 64px;
    font-weight: 600;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
    font-weight: 600;
}

a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

// Colori Tipografia

.text-orange {
    color: $orange;
}

.text-purple {
    color: $purple;
}

.text-cyan {
    color: $cyan;
}

.text-pink {
    color: $pink;
}

.text-violet {
    color: $violet;
}

.text-lightmauve {
    color: $lightmauve;
}

.text-crystal {
    color: $crystal;
}

.text-mauve {
    color: $mauve;
}

.text-white {
    color: $white;
}

.text-lightgray {
    color: $lightgray;
}

.button-text-violet {
    font-size: 16px;
    font-weight: 600;
    color: $violet;
}

.button-text-cyan {
    font-size: 16px;
    font-weight: 600;
    color: $cyan;
}

.text-trading-information {
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 8px;
    font-size: 12px;
    color: $purple;
}

.number-information-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.1;
    color: $crystal;
}

.apr-text {
    color: $lightmauve;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
}

.option-lenguage-text {
    color: $crystal;
    padding: 0px 8px;
    border-radius: 8px;
    font-size: 16px;
}