@import "base";

@mixin common-button {
  display: flex;
  flex-direction: row;
  background-color: var(--primary);
  border: 0px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  height: 46px;
  padding: 0px 24px;
  line-height: 1;
  outline: 0px;
  transition: opacity 0.2s ease 0s;
  opacity: 1;
  cursor: pointer;

  &:hover {
    transition: opacity 0.2s ease 0s;
    opacity: 0.65;
  }

  p {
    color: var(--invertedContrast);
    margin-right: 4px;
    font-weight: 550;
    font-size: 16px;
    letter-spacing: 0.03em;
  }
}

.button-two-icons {
  @include common-button;

    p {
      color: var(--invertedContrast);
    }
}

.trade-now-button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  height: 48px;
  padding: 0 24px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: var(--primary);
  box-shadow: none;
  cursor: pointer;

  &:hover {
    transition: opacity 0.2s ease 0s;
    opacity: 0.65;
  }

  p {
    letter-spacing: 0.03em;
    font-family: Kanit;
  }
}

.button-sm {
  @include common-button;
  height: 32px;
  padding: 0px 16px;

  p {
    color: var(--invertedContrast);
  }
}

.primary-square-icon-button {
  @include common-button;
  width: 50px;
  &:hover {
    transition: opacity 0.2s ease 0s;
    opacity: 0.65;
  }
}
