/*colori che mancavano */
$yellow: #ffcd51;
$light-yellow: #ffe76a;
$purple: #5121b1;
$dark-purple: #3c1786;

/* BIG CARDS */
.wrapper {
  /* border: 5px solid red; */
box-shadow: inset 0px 1px 4px -2px #27262c;
border-radius: 4.5rem;
width: 100%;
margin: 0 auto;
padding: 2.5rem;
gap: 2rem;
pointer-events: all;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
span {
  color: var(--secondary);
}
h2 {
  padding-top: 40px;
  color:var(--text);
}
}
.description {
  display: flex;
  text-align: center;
  color: var(--textSubtle);
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  padding-top: 20px;
}
.big-cards-container {
  display: flex;
  /* padding: 10px; */
  margin: 40px 100px 0 100px;
  gap: 1.85rem;
  height: 100%;
}
.big-ps-card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 24px;
  padding: 1.5rem;
  width: 18rem;
  height: 26rem;
  font-size: 24px;
  &.bigger {
    height: 30rem;
  }
  .big-card-icon {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .big-card-title {
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 38px;
      font-weight: 600;
      line-height: 2.7rem;
    }
  }
  .big-card-title {
    margin: 2.5rem 0px 0px 0px;
  }
  .paragraph-bold {
    margin: 15px 0px;
  }
  .caption {
    margin: 1rem 0;
  }
  .cta button {
    width: 100%;
    height: 48px;
    will-change: opacity;
    transition: opacity 0.2s ease 0s;
  }
  .paragraph-1 {
    font-weight: 200;
    padding-bottom: 30px;
  }
}

.yellow-card {
  /* float: left; */
  background: linear-gradient(
    $dark-warning 0%,
    $yellow 51.17%,
    $light-yellow 100%
  );
  box-shadow: inset 0px -4px 0px 0px $dark-warning;
  transform: rotate(-2deg);
  .h2,
  p {
    color: $dark-text-reverse;
  }
}

.purple-card {
  background: linear-gradient($light-secondary 0%, $purple 100%);
  box-shadow: inset 0px -4px 0px 0px $dark-purple;
  transform: rotate(2deg);

  h2 {
    color: $dark-gold;
    color: linear-gradient($light-warning, $light-yellow);
  }
  .paragraph-bold {
    color: $dark-white;
  }

  .paragraph-1 {
    color: $dark-white;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.top-bar-container
  .bar-container
  .antiphishing-banner
  .antiphishing-text-container
  .warning-text {
  color: var(--warning);
  font-size: 14px;
  font-weight: 600;
  flex-shrink: 0;
  margin-right: 4px;
  line-height: 1.5;
  text-transform: uppercase;
}
.top-bar-container
  .bar-container
  .antiphishing-banner
  .antiphishing-text-container
  .regular-text {
  color: #bdc2c4;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-right: 4px;
}
.top-bar-container
  .bar-container
  .antiphishing-banner
  .antiphishing-text-container
  .link-text {
  margin-right: 4px;
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}
.top-bar-container .bar-container .close-button {
  padding: 0px;
  width: 48px;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-pack: center;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 48px;
  padding: 0px 24px;
  background-color: transparent;
  color: var(--white);
  box-shadow: none;
}
.top-bar-container .bar-container .close-button:hover {
  opacity: 0.65;
}
.top-bar-container .bar-container .close-button:active {
  transform: translateY(1px);
  opacity: 0.85;
  box-shadow: none;
}
.top-bar-container .bar-container .close-button .x-icon {
  width: 20px;
  align-self: center;
  flex-shrink: 0;
  filter: none !important;
}
.pool-section {
  width: 920px;
  height: 128px;
  margin-top: 24px;
  background: var(--gradientCardHeader);
}
.title-trading {
  margin-bottom: 8px;
  padding-left: 16px;
  display: flex;
  .swap-button {
    align-self: center;
    width: 48px;
    height: 24px;
    background-color: transparent;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 32px;
}
.confine {
  position: relative;
  height: 90px;
  width: 158px;
}
.first-trading-card-container,
.fourth-trading-card-container {
  position: absolute;
  top: 0px;
  height: 80px;
  margin-top: 0px;
  flex-direction: column;
  padding-left: 16px;
  border-left: 1px solid var(--inputSecondary);
  opacity: 1;
  transition: opacity 0s ease 0s, margin-top 0s ease 0s, all 0.4s ease-out 0s;
  .title-card-trading {
    margin-bottom: 8px;
  }
}
.second-trading-card-container,
.third-trading-card-container {
  position: absolute;
  top: 0px;
  height: 80px;
  opacity: 0;
  margin-top: 50%;
  flex-direction: column;
  padding-left: 16px;
  border-left: 1px solid var(--inputSecondary);
  transition: opacity 0s ease 0s, margin-top 0s ease 0s, all 0.4s ease-out 0s;
  .title-card-trading {
    margin-bottom: 8px;
  }
}
.first-trading-card-container-not-border,
.fourth-trading-card-container-not-border {
  position: absolute;
  top: 0px;
  height: 80px;
  margin-top: 0px;
  flex-direction: column;
  padding-left: 16px;
  opacity: 1;
  transition: opacity 0s ease 0s, margin-top 0s ease 0s, all 0.4s ease-out 0s;
  .title-card-trading {
    margin-bottom: 8px;
  }
}
.second-trading-card-container-not-border,
.third-trading-card-container-not-border {
  position: absolute;
  top: 0px;
  height: 80px;
  opacity: 0;
  margin-top: 50%;
  flex-direction: column;
  padding-left: 16px;
  transition: opacity 0s ease 0s, margin-top 0s ease 0s, all 0.4s ease-out 0s;
  .title-card-trading {
    margin-bottom: 8px;
  }
}

