@import "base";

h1 {
  text-align: center;
}

body {
  background: -webkit-linear-gradient(top,#09070c 22%,#201335 100%);}

.container-components {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px dashed #fff;
  padding-top: 30px;
  padding-bottom: 60px;
  gap:30px;

  .component-title {
    font-family: Kanit;
    color: $orange;
    font-size: 32px;
  }

  div{
    margin-left:auto;
    margin-right: auto;
  }
}

.multiple-component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 2px dashed #673bb1;
  padding: 30px;
}

.color-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  div {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .rgb-code {
      text-align: center;
    }

    .rgb-name {
      @extend .rgb-code;
    }

    .square {
      border-radius: 7px;
      height: 45px;
      width: 45px;
      align-self: center;
      margin: 10px;
    }

    .white {
      background-color: $white;
      border: 1px solid $lightgray;
    }

    .lightgray {
      background-color: $lightgray;
    }

    .violet {
      background-color: $violet;
    }

    .purple {
      background-color: $purple;
    }

    .mauve {
      background-color: $mauve;
    }

    .lightmauve {
      background-color: $lightmauve;
    }

    .cyan {
      background-color: $cyan;
    }

    .orange {
      background-color: $orange;
    }

    .pink {
      background-color: $pink;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

pre[class*="language-"] {
  position: relative;
  overflow: auto;

  /* make space  */
  margin: 5px 0;
  padding: 1.75rem 0 1.75rem 1rem;
  border-radius: 10px;
}

pre[class*="language-"] button {
  position: absolute;
  top: 5px;
  right: 5px;

  font-size: 0.9rem;
  padding: 0.15rem;
  background-color: #828282;

  border: ridge 1px #7b7b7c;
  border-radius: 5px;
  text-shadow: #c4c4c4 0 0 2px;
}

pre[class*="language-"] button:hover {
  cursor: pointer;
  background-color: #bcbabb;
}
