@import "base";

h1 {
  text-align: center;
}

.container-components {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px dashed #673bb1;
  padding-top: 30px;
  padding-bottom: 30px;

  .component-title {
    font-family: Kanit;
    color: black;
    font-size: 32px;
  }
}

.multiple-component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 2px dashed #673bb1;
  padding: 30px;
}

.color-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  div {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .rgb-code {
      text-align: center;
    }

    .rgb-name {
      @extend .rgb-code;
    }

    .square {
      border-radius: 7px;
      height: 45px;
      width: 45px;
      align-self: center;
      margin: 10px;
    }

    .white {
      background-color: $white;
      border: 1px solid $lightgray;
    }

    .lightgray {
      background-color: $lightgray;
    }

    .violet {
      background-color: $violet;
    }

    .purple {
      background-color: $purple;
    }

    .mauve {
      background-color: $mauve;
    }

    .lightmauve {
      background-color: $lightmauve;
    }

    .cyan {
      background-color: $cyan;
    }

    .orange {
      background-color: $orange;
    }

    .pink {
      background-color: $pink;
    }
  }
}
