@import "base";

body {
  font-family: Kanit;
  background: var(--background);
  padding: 0;
  margin: 0;
  pre{
    display:none;
  }
  .fixed-switch {
    z-index: 1000;
    position: fixed;
    bottom: 30px;
    right: 30px;
  }

  .fixedBG {
    background: #08060b;
  }

  h1 {
    text-align: center;
  }
  img {
    cursor: pointer;
  }

  .container-components {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  #tooltip {
    color: white;
    background-color: #673bb1;
    visibility: hidden;
    position: fixed;
    top: 0;
    text-align: center;
    transition: all 0.5s ease-in-out;
    z-index: 1000;
    h1 {
      font-size: 27px;
    }
  }

  .container-components {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px dashed #673bb1;
    padding-top: 30px;
    padding-bottom: 30px;
    gap:50px;
    div {
      margin-left: auto;
      margin-right: auto;
    }

    .component-title {
      font-family: Kanit;
      color: var(--warning);
      font-size: 50px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .component-marginfree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px dashed #673bb1;
    padding-top: 30px;
    padding-bottom: 30px;
    gap:30px;

    .component-title {
      font-family: Kanit;
      color: var(--warning);
      font-size: 50px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .multiple-component {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px dashed #673bb1;
    padding: 30px;
  }

  .color-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    width: 83%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;

    div {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      width: 150px;

      .rgb-code {
        text-align: center;
      }

      .rgb-name {
        @extend .rgb-code;
      }

      .square {
        border-radius: 7px;
        height: 45px;
        width: 45px;
        align-self: center;
        margin: 10px;
      }

      .white {
        background-color: var(--white);
        border: 1px solid var(--tertiary);
      }

      .crystal {
        background-color: var(--text);
      }

      .lightgray {
        background-color: var(--tertiary);
      }

      .text {
        background-color: var(--text);
      }

      .secondary {
        background-color: var(--secondary);
      }

      .textSubtle {
        background-color: var(--textSubtle);
      }

      .primary {
        background-color: var(--primary);
      }

      .warning {
        background-color: var(--warning);
      }

      .failure {
        background-color: var(--failure);
      }

      .failure33 {
        background-color: var(--failure33);
      }

      .primary0f {
        background-color: var(--primary0f);
      }

      .primary3D {
        background-color: var(--primary3D);
      }

      .primaryBright {
        background-color: var(--primaryBright);
      }

      .primaryDark {
        background-color: var(--primaryDark);
      }

      .success {
        background-color: var(--success);
      }

      .success19 {
        background-color: var(--success19);
      }

      .warning2D {
        background-color: var(--warning2D);
      }

      .warning33 {
        background-color: var(--warning33);
      }

      .binance {
        background-color: var(--binance);
      }

      .overlay {
        background-color: var(--overlay);
      }

      .gold {
        background-color: var(--gold);
      }

      .silver {
        background-color: var(--silver);
      }

      .bronze {
        background-color: var(--bronze);
      }

      .secondary {
        background-color: var(--secondary);
      }

      .secondary80 {
        background-color: var(--secondary80);
      }

      .background {
        background-color: var(--background);
      }

      .backgroundDisabled {
        background-color: var(--backgroundDisabled);
      }

      .backgroundAlt {
        background-color: var(--backgroundAlt);
      }

      .backgroundAlt2 {
        background-color: var(--backgroundAlt2);
      }

      .cardBorder {
        background-color: var(--cardBorder);
      }

      .dropdown {
        background-color: var(--dropdown);
      }

      .dropdownDeep {
        background-color: var(--dropdownDeep);
      }

      .invertedContrast {
        background-color: var(--invertedContrast);
      }

      .input {
        background-color: var(--input);
      }

      .inputSecondary {
        background-color: var(--inputSecondary);
      }

      .tertiary {
        background-color: var(--tertiary);
      }

      .text99 {
        background-color: var(--text99);
      }

      .textDisabled {
        background-color: var(--textDisabled);
      }

      .disabled {
        background-color: var(--disabled);
      }

      .gradientBubblegum {
        background: var(--gradientBubblegum);
      }

      .gradientInverseBubblegum {
        background: var(--gradientInverseBubblegum);
      }

      .gradientCardHeader {
        background: var(--gradientCardHeader);
      }

      .gradientBlue {
        background: var(--gradientBlue);
      }

      .gradientViolet {
        background: var(--gradientViolet);
      }

      .gradientVioletAlt {
        background: var(--gradientVioletAlt);
      }

      .gradientGold {
        background: var(--gradientGold);
      }

      .gradientBold {
        background: var(--gradientBold);
      }
    }
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

pre[class*="language-"] {
  position: relative;
  overflow: auto;

  /* make space  */
  margin: 5px 0;
  padding: 1.75rem 0 1.75rem 1.75rem;
  border-radius: 10px;
}

pre[class*="language-"] button {
  position: absolute;
  top: 5px;
  right: 5px;

  font-size: 0.9rem;
  padding: 0.15rem;
  background-color: #828282;

  border: ridge 1px #7b7b7c;
  border-radius: 5px;
  text-shadow: #c4c4c4 0 0 2px;
}

pre[class*="language-"] button:hover {
  cursor: pointer;
  background-color: #bcbabb;
}
