.component-title-bar {
    font-family: Kanit;
    color: var(--warning);
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.language-bar-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 48px;
    border-style: solid;
    border-color: var(--cardBorder);
    -webkit-box-pack: justify;
    background-color: #27262c;
    margin-bottom: 40px;
    position: relative;
    right:20px;
    width: 100vw;
    @media screen and (max-width:575px) {
        height: 140px;
        position: relative;
        right:0px;
        bottom:700px;
        border-bottom: 1px solid var(--cardBorder);
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        
    }

    


    .light-language-switch-container {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        padding-left: 80px;
        padding-left: 0%;
        @media screen and (max-width:575px) {
            padding-right: 70%; 
            padding-bottom: 30px;
        }

        .light-switch-container {
            position: relative;
            overflow: hidden;
         
        }

        .language-switch-container {
            position: relative;    
        
            .icon-container {
                margin-top: 7px;
            }

            img {
                margin-right: 0.5rem;
            }

            .language-text {
                color: var(--textSubtle);
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
            }
        }
    }

    .value-buy-button-container {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        margin-bottom: 0px;
        padding-right: 23.7%;

        .icon-currency-value-container {
            margin-right: 20px;

            .link-icon-value {
                display: flex;
                color: inherit;
                text-decoration: none;
                align-items: center;
                -webkit-box-align: center;


                .pancake-icon {
                    align-self: center;
                    fill: var(--text);
                    flex-shrink: 0;
                    margin-right: 8px;

                    &:hover {
                        transform: scale(1.2);
                        transition: all 0.3s ease 0s;
                        z-index: 1;
                    }
                }
            }
        }
    }
}
.footer-language{
    padding-left: 1vh;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    height: 80px;
    @media screen and(max-width: 575px) {
        padding-left: 20px !important;
    }
}

.component-footer {
    padding-left: 250px !important;
    width:100%;
    @media screen and (max-width:575px) {
        width: 575px;
        height: 750px;
        padding-left: 20px !important;
        border-bottom: 1px solid var(--cardBorder);

       
    }

}

.container-footer-list {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
      @media screen and (max-width:575px) {
           display: flex;
           flex-direction: column;  
           height: 750px;         
      }
      .footer-contacts{
         width:122%;
         height: 100%;
         display: flex;
         flex-direction: row;
         gap:20%;
        @media screen and (max-width:575px) {
            height: 500px;
            display: flex;
            flex-direction:column;
            position: relative;
            bottom:-200px;
            padding-top: 10px;
            
          
        }
      }

    ul {
        list-style: none;

        a {
            line-height: 30px;
        }
    }

    .footer-list-header {
        color: var(--secondary);
    }

    .contatti {
        color: var(--warning);
    }
}


.container-svg-footer {
    display: block;
    @media screen and (max-width:575px) {
        height: 30px;
        position: relative  ;
        top: -735px;
        border-bottom: 1px solid var(--cardBorder);
      
    }
    .bunny-footer{
        @media screen and(max-width: 575px) {
            width: 135px;
            height: 120px;
            position: relative;
            top:-60px;
            
        }
    }
}


.container-social-footer {
    
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 2%;
    padding-bottom:2%;
    border-bottom: 1px solid #383241;
    @media screen and (max-width:575px) {
        position: relative;
        top: -60px;
        left:-10px;
        height: 10px;
        border-bottom: none;
        padding-left: 12px !important;
    }
    
}



.telegram-scroll {
   position: relative;
   
.telegram-channel {
    width: 0px;
    height: 0px;
    overflow: hidden;
    opacity: 0;
    transition:  opacity 0.5s ;
    
    
}

&:hover {
    
    .telegram-channel {
      
            opacity: 1;
            padding:16px;
            width: max-content;
            height: 400px;
            display: flex;
            flex-direction: column;            
            position: absolute;
            right:-460%;
            bottom: 100%;
            background-color: #27262c;
            border-radius: 1%;   
            overflow-y:scroll ; 
            
            
      

        }
        
    }

            .telegram-ch {
                color: var(--textSubtle);
              
                
                &:hover{
                    
                    text-decoration: underline; 
                                       
                }
            }
}