// dove inserire css dell'index?
// colore icona scopri di più
// colore sfondo cake dato alla section?
.container {
    width: 100%;
    height: 100%;
    margin-top: 125px;

    section {
        width: 100%;
        padding: 100px 12.5%;
        background: var(--gradientHeader);
    }

    .hero-section-container {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;

        @media (min-width: 576px) {
            margin-top: 0;
        }

        @media (min-width: 852px) {
            -webkit-box-align: center;
            align-items: center;
        }

        .hero-text-container {
            display: flex;
            flex: 1 1 0%;
            flex-direction: column;

            .hero-text-head {
                font-size: 64px;
                color: var(--secondary);
                margin-bottom: 24px;
                font-weight: 600;
                line-height: 1.1;
            }

            .hero-text-subtle {
                font-size: 20px;
                font-weight: 600;
                line-height: 1.1;
                color: var(--text);
                margin-bottom: 24px;

            }

            .hero-button-container {
                display: flex;
            }
        }

        .hero-img-container {
            display: flex;
            position: relative;

            @media (min-width: 852px) {
                flex: 1 1 0%;
                margin-bottom: 0px;
                height: 100%;
                width: 100%;
            }

        }
    }

    .cake-section {
        background: var(--background);

        .cake-section-container {
            position: relative;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            z-index: 1;
            padding: 48px 0px;

            .cake-section-text-img {
                min-height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @media screen and (min-width: 968px) {
                    padding-top: 48px;
                    padding-bottom: 48px;
                }

                @media screen and (min-width: 852px) {
                    flex-direction: row;
                    -webkit-box-align: center;
                    align-items: center;
                }

                @media screen and (min-width: 370px) {
                    padding-left: 24px;
                    padding-right: 24px;
                }

                .cake-text-button {
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 0%;

                    @media screen and (min-width: 852px) {
                        margin-right: 64px;
                        align-self: center;
                    }

                    .cake-text-container {

                        @media screen and (min-width: 852px) {
                            align-self: center;
                        }

                        .cake-text-head {
                            font-weight: 600;
                            line-height: 1.1;
                            margin-bottom: 24px;

                            @media screen and (min-width: 968px) {
                                font-size: 40px;
                            }

                            span {
                                color: var(--secondary);
                            }
                        }

                        .cake-text-subtle {
                            color: var(--textSubtle);
                            font-weight: 400;
                            line-height: 1.5;
                            margin-bottom: 24px;
                            font-size: 16px;
                        }

                        .cake-button-container {
                            display: flex;

                            a {
                                display: flex;
                                -webkit-box-align: center;
                                align-items: center;
                                width: fit-content;
                                font-weight: 600;
                                line-height: 1.5;
                                font-size: 16px;
                                color: var(--primary);

                                img {
                                    align-self: center;
                                    fill: var(--primary);
                                    flex-shrink: 0;
                                    margin-left: 4px;
                                }

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }

            .cake-img-container {
                display: flex;

                @media screen and (min-width: 852px) {
                    flex: 1 1 0%;
                    margin-bottom: 0px;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}