.container {
  width: 100%;
  height: 100%;
  margin-top: 125px;
  overflow-x: hidden;

  section:first-child {
    padding-top: 90px;
  }

  section {
    width: 100%;
    padding: 30px 16%;
    background: var(--gradientHeader);
    position: relative;


    .hero-waves {
      position: absolute;
      width: 100%;
      bottom: -3px;
      left: 0;
      z-index: 0;
    }
  }

  .hero-section-container {
    display: flex;
    -webkit-box-pack: center;
    align-items: center;
    width: 100%;

    @media (min-width: 576px) {
      margin-top: 0;
    }

    @media (min-width: 852px) {
      -webkit-box-align: center;
      align-items: center;
    }

    .hero-text-container {
      display: flex;
      flex: 1 1 0%;
      flex-direction: column;

      .hero-text-head {
        font-size: 64px;
        color: var(--secondary);
        margin-bottom: 24px;
        font-weight: 600;
        line-height: 1.1;
      }

      .hero-text-subtle {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.1;
        color: var(--text);
        margin-bottom: 24px;
      }

      .hero-button-container {
        display: flex;
      }
    }

    .hero-img-container {
      flex: 1 1 0%;
      height: 100%;
      width: 100%;
      z-index: 1;
      padding-bottom: 100px;
      position: relative;

      .hero-bunny {
        width: 100%;
        animation: space 3.5s ease-in-out 0s infinite normal none running;
      }

      .hero-stars-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 512px;
        width: 100%;

        .hero-stars {
          position: relative;
          max-height: 512px;
          height: 100%;
          width: 100%;

          div {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;

            .first-star {
              width: auto;
              height: auto;
              max-height: 100%;
              max-width: 100%;
              animation: blink 2.5s ease-in-out 1s infinite normal none running;
            }

            .second-star {
              width: auto;
              height: auto;
              max-height: 100%;
              max-width: 100%;
              animation: blink 5s ease-in-out 0.66s infinite normal none running;
            }

            .third-star {
              width: auto;
              height: auto;
              max-height: 100%;
              max-width: 100%;
              animation: blink 2.5s ease-in-out 0.33s infinite normal none running;
            }
          }
        }
      }
    }
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes space {
    0% {
      transform: translate(0%, 0%);
    }

    50% {
      transform: translate(1%, 3%);
    }

    100% {
      transform: translate(0%, 0%);
    }
  }

  .cake-section {
    background: var(--background);

    .cake-section-container {
      position: relative;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      z-index: 1;
      padding: 48px 0px;

      .cake-section-text-img {
        min-height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (min-width: 968px) {
          padding-top: 48px;
        }

        @media screen and (min-width: 852px) {
          flex-direction: row;
          -webkit-box-align: center;
          align-items: center;
        }

        

        .cake-text-button {
          display: flex;
          flex-direction: column;
          flex: 1 1 0%;

          @media screen and (min-width: 852px) {
            margin-right: 64px;
            align-self: center;
          }

          .cake-text-container {
            @media screen and (min-width: 852px) {
              align-self: center;
            }

            .cake-text-head {
              font-weight: 600;
              line-height: 1.1;
              margin-bottom: 24px;

              @media screen and (min-width: 968px) {
                font-size: 40px;
              }

              span {
                color: var(--secondary);
              }
            }

            .cake-text-subtle {
              color: var(--textSubtle);
              font-weight: 400;
              line-height: 1.5;
              margin-bottom: 24px;
              font-size: 16px;
            }

            .cake-button-container {
              display: flex;

              a {
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                width: fit-content;
                font-weight: 600;
                line-height: 1.5;
                font-size: 16px;
                color: var(--primary);

                .svg {
                  align-self: center;
                  fill: var(--primary);
                  flex-shrink: 0;
                  margin-left: 4px;
                }

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }

      .cake-img-container {
        position: relative;
        z-index: 1;
        flex: 1 1 0%;
        display: flex;
        height: 428px;
        width: 400px;

        @media screen and (min-width: 852px) {
          margin-bottom: 0px;
        }

        .cake-animation-box {
          height: 100vw;
          width: 100vw;
          display: flex;
          max-width: 20rem;
          max-height: 20rem;
          position: absolute;
          pointer-events: none;
          top: 0px;
          left: 0px;

          .cake-animation-layer {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            height: 428px;
            width: 400px;
            pointer-events: none;
          }

          .bottom-right {
            animation: space 3s ease-in-out 1s infinite normal none running;
          }
          .top-right {
            animation: space 3s ease-in-out 0.66s infinite normal none running;
          }
          .top-left {
            animation: space 3s ease-in-out 0s infinite normal none running;
          }
          .coin {
            animation: space 3s ease-in-out 0.33s infinite normal none running;
          }
        }
      }
    }
  }
}

.exchange-section{
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-around;
  .exchange-description{
    max-width:450px;
  }
  .click-container{
    display:flex;
  }
  .animation-box {
    height: 40vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .animation-layer {
      max-height: 80%;
      height: 60%;
      width: 60%;
      pointer-events: none;
    }
    }
  }