.section-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .section-number-title {
    margin-top: 30px;
    margin-bottom: 31px;

    h2 {
      line-height: 1.1;
      font-size: 40px;
      text-align: center;
      color: var(--text);
      font-weight: 400;
    }
  }

  .section-number-content {
    div {
      color: var(--textSubtle);
      font-weight: 200;
      text-align: center;
      font-size: 16px;
    }

    > :last-child {
      margin-top: 30px;
      font-weight: 600;
    }

  }
}


.section-market-cap-title {
  h1 {
    color: var(--warning);
    font-size: 50px;
  }
}

.section-market-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 42px 156px;
  margin-top: 30px;


  .section-market-col.col-1 {
    grid-row: 1;
    grid-column: 1;

  }

  .section-market-col.col-2 {
    grid-row: 1;
    grid-column: 2;

  }

  .section-market-col.col-3 {
    grid-row: 1;
    grid-column: 3;
  }

  .section-market-col.col-4 {
    grid-row: 2;
    grid-column: 1;
  }

  .section-market-col.col-5 {
    grid-row: 2;
    grid-column: 2;
  }

  .section-market-col.col-6 {
    grid-row: 2;
    grid-column: 3;
  }

  .section-market-paragraph {
    color: var(--textSubtle);
    font-weight: 400;
    line-height: 1;
    font-size: 16px;

  }

  .section-market-numbers,
  .numbers-1,
  .numbers-2,
  .numbers-3 {
    color: var(--text);
    font-weight: 600;
    font-size: 24px;
  }

  .section-market-data {
    border-left: 1px solid var(--inputSecondary);
    padding: 0px 16px;
  }

}