.section-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .section-number-title {
    margin-top: 30px;
    margin-bottom: 31px;

    h2 {
      line-height: 1.1;
      font-size: 40px;
      text-align: center;
      color: var(--text);
      font-weight: 400;
    }
  }

  .section-number-content {
    div {
      color: var(--textSubtle);
      font-weight: 200;
      text-align: center;
      font-size: 16px;
    }

    > :last-child {
      margin-top: 30px;
      font-weight: 600;
    }

  }
}


.section-market-cap-title {
  h1 {
    color: var(--warning);
    font-size: 50px;
  }
}

.section-market-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 42px 156px;
  margin-top: 30px;


  .section-market-col.col-1 {
    grid-row: 1;
    grid-column: 1;

  }

  .section-market-col.col-2 {
    grid-row: 1;
    grid-column: 2;

  }

  .section-market-col.col-3 {
    grid-row: 1;
    grid-column: 3;
  }

  .section-market-col.col-4 {
    grid-row: 2;
    grid-column: 1;
  }

  .section-market-col.col-5 {
    grid-row: 2;
    grid-column: 2;
  }

  .section-market-col.col-6 {
    grid-row: 2;
    grid-column: 3;
  }

  .section-market-paragraph {
    color: var(--textSubtle);
    font-weight: 400;
    line-height: 1;
    font-size: 16px;

  }

  .section-market-numbers,
  .numbers-1,
  .numbers-2,
  .numbers-3 {
    color: var(--text);
    font-weight: 600;
    font-size: 24px;
  }

  .section-market-data {
    border-left: 1px solid var(--inputSecondary);
    padding: 0px 16px;
  }

}

//start-no-container

.start-now-container {
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgb(118, 69, 217) 0%, rgb(81, 33, 177) 100%);
  height: 472px;
  width: 100vw;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../assets/icons/raysbg.svg) no-repeat center;
    background-size: cover;
    pointer-events: none;
  }

  .start-now-section-wrapper {
    position: relative;
    max-width: 80rem;
    padding: 6rem 0;
    margin: 0 auto;
  }

  .start-now-pancakes-l {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: -4rem;
  }

  .start-now-pancakes-r {
    position: absolute;
    pointer-events: none;
    right: -4rem;
    top: 220px;
  }
}

.start-now-pancakes-l,
.start-now-pancakes-r {

  max-width: 16rem;
  max-height: 16rem;
}



.start-now-animation-box {
  height: 40vw;
  width: 40vw;
  display: flex;
  position: relative;
}

.start-now-animation-layer {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  animation: float 2s ease-in-out alternate infinite;
  pointer-events: none;
}

.start-now-text-box {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 117px;

  .start-now-title {
    font-size: 32px;
    font-weight: 200;
    line-height: 1.1;
    color: var(--white);
    margin-bottom: 42px;
 }

  .start-now-content {
    color: var(--white);
    font-weight: 200;
    line-height: 1.5;
    text-align: center;
    font-size: 18px;

  }

  .start-now-registration {
    color: var(--white);
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 42px;

  }

  .start-now-link {
    display: flex;
    align-items: center;

    .start-now-link-1 {
      color: var(--primary);
      font-weight: 600;
      line-height: 1.5;
      font-size: 16px;
    }


    a {
      text-decoration: none;
      text-align: center;

      &:hover {
        text-decoration: underline solid var(--primary);
      }
    }
  }

  #start-now-button {
    margin-top: 32px;
  }
}

