@font-face {
  font-family: Kanit;
  src: url("/assets/fonts/Kanit/Kanit-Regular.ttf");
  font-weight: 300; }

@font-face {
  font-family: Kanit;
  src: url("/assets/fonts/Kanit/Kanit-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: Kanit;
  src: url("/assets/fonts/Kanit/Kanit-ExtraBold.ttf");
  font-weight: 800; }

@font-face {
  font-family: Kanit;
  src: url("/assets/fonts/Kanit/Kanit-ExtraLight.ttf");
  font-weight: 100; }

@font-face {
  font-family: Kanit;
  src: url("/assets/fonts/Kanit/Kanit-Light.ttf");
  font-weight: 200; }

h1 {
  font-family: Kanit;
  font-size: 64px;
  color: #7645d9; }

h2 {
  font-family: Kanit;
  font-size: 40px;
  color: #eff4f5; }

h3 {
  font-family: Kanit;
  font-size: 20px;
  color: #280d5f; }

p {
  font-family: Kanit;
  font-size: 16px;
  color: #b8add2; }

:root {
  font-family: Kanit; }
