* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: #ddd;
  font-family: Kanit; }

@font-face {
  font-family: Kanit;
  src: url("/assets/fonts/Kanit/Kanit-ExtraLight.ttf");
  font-weight: 100; }

@font-face {
  font-family: Kanit;
  src: url("/assets/fonts/Kanit/Kanit-Light.ttf");
  font-weight: 200; }

@font-face {
  font-family: Kanit;
  src: url("/assets/fonts/Kanit/Kanit-Regular.ttf");
  font-weight: 300; }

@font-face {
  font-family: Kanit;
  src: url("/assets/fonts/Kanit/Kanit-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: Kanit;
  src: url("/assets/fonts/Kanit/Kanit-SemiBold.ttf");
  font-weight: 600; }

@font-face {
  font-family: Kanit;
  src: url("/assets/fonts/Kanit/Kanit-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: Kanit;
  src: url("/assets/fonts/Kanit/Kanit-ExtraBold.ttf");
  font-weight: 800; }

h1 {
  font-size: 64px;
  font-weight: 500; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 20px; }

p {
  font-size: 16px;
  font-weight: 600; }

a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none; }

.text {
  color: var(--text); }

.text-warning {
  color: var(--warning); }

.text-secondary {
  color: var(--secondary); }

.text-primary {
  color: var(--primary); }

.text-failure {
  color: var(--failure); }

.text {
  color: var(--text); }

.text-subtle {
  color: var(--textSubtle); }

.text {
  color: var(--text); }

.text-subtle {
  color: var(--textSubtle);
  font-weight: 300; }

.text-white {
  color: var(--white); }

.button-text-white {
  font-size: 16px;
  font-weight: 600;
  color: var(--white); }

.button-text-inverted {
  font-size: 16px;
  font-weight: 600;
  color: var(--invertedContrast); }

.button-text-primary {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary); }

.text-trading-information {
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 8px;
  font-size: 12px;
  color: var(--secondary); }

.number-information-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1;
  color: var(--text); }

.apr-text {
  color: var(--textSubtle);
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px; }

.option-lenguage-text {
  color: var(--text);
  padding: 0px 8px;
  border-radius: 8px;
  font-size: 16px; }

:root {
  font-family: "Kanit";
  --white: #fff;
  --failure: #ed4b9e;
  --failure33: #ed4b9e33;
  --primary: #1fc7d4;
  --primary0f: #1fc7d40f;
  --primary3D: #1fc7d43d;
  --primaryBright: #53dee9;
  --primaryDark: #0098a1;
  --success: #31d0aa;
  --success19: #31d0aa19;
  --warning: #ffb237;
  --warning2D: #ed4b9e2d;
  --warning33: #ed4b9e33;
  --binance: #f0b90b;
  --overlay: #452a7a;
  --gold: #ffc700;
  --silver: #b2b2b2;
  --bronze: #e7974d;
  --secondary: #9a6aff;
  --secondary80: #9a6aff80;
  --background: #08060b;
  --background-reverse: #08060b;
  --backgroundDisabled: #3c3742;
  --backgroundAlt: #27262c;
  --backgroundAlt2: rgba(39, 38, 44, 0.7);
  --cardBorder: #383241;
  --contrast: #fff;
  --dropdown: #1e1d20;
  --dropdownDeep: #100c18;
  --invertedContrast: #191326;
  --input: #372f47;
  --inputSecondary: #262130;
  --tertiary: #353547;
  --text: #f4eeff;
  --text-reverse: #f4eeff;
  --text99: #f4eeff99;
  --textDisabled: #666171;
  --textSubtle: #b8add2;
  --disabled: #524b63;
  --gradientBubblegum: linear-gradient(139.73deg, #313d5c, #3d2a54);
  --gradientInverseBubblegum: linear-gradient(139.73deg, #3d2a54, #313d5c);
  --gradientCardHeader: linear-gradient(166.77deg, #3b4155, #3a3045);
  --gradientBlue: linear-gradient(180deg, #00707f, #19778c);
  --gradientViolet: linear-gradient(180deg, #6c4999, #6d4db2);
  --gradientVioletAlt: linear-gradient(180deg, #434575, #66578d);
  --gradientGold: linear-gradient(180deg, #ffd800, #fdab32);
  --gradientBold: linear-gradient(#53dee9, #9a6aff);
  --shadows-tooltip: 0px 0px 2px rgba(0, 0, 0, .2), 0px 4px 12px -8px rgba(14, 14, 44, .1);
  --shadows-inset: inset 0px 2px 2px -1px rgba(74, 74, 104, .1); }

[data-theme="dark"] {
  --white: #fff;
  --failure: #ed4b9e;
  --failure33: #ed4b9e33;
  --primary: #1fc7d4;
  --primary0f: #1fc7d40f;
  --primary3D: #1fc7d43d;
  --primaryBright: #53dee9;
  --primaryDark: #0098a1;
  --success: #31d0aa;
  --success19: #31d0aa19;
  --warning: #ffb237;
  --warning2D: #ed4b9e2d;
  --warning33: #ed4b9e33;
  --binance: #f0b90b;
  --overlay: #452a7a;
  --gold: #ffc700;
  --silver: #b2b2b2;
  --bronze: #e7974d;
  --secondary: #9a6aff;
  --secondary80: #9a6aff80;
  --background: #08060b;
  --background-reverse: #fff;
  --backgroundDisabled: #3c3742;
  --backgroundAlt: #27262c;
  --backgroundAlt2: rgba(39, 38, 44, 0.7);
  --cardBorder: #383241;
  --contrast: #fff;
  --dropdown: #1e1d20;
  --dropdownDeep: #100c18;
  --invertedContrast: #191326;
  --input: #372f47;
  --inputSecondary: #262130;
  --tertiary: #353547;
  --text: #f4eeff;
  --text-reverse: #280d5f;
  --text99: #f4eeff99;
  --textDisabled: #666171;
  --textSubtle: #b8add2;
  --disabled: #524b63;
  --gradientBubblegum: linear-gradient(139.73deg, #313d5c, #3d2a54);
  --gradientInverseBubblegum: linear-gradient(139.73deg, #3d2a54, #313d5c);
  --gradientCardHeader: linear-gradient(166.77deg, #3b4155, #3a3045);
  --gradientBlue: linear-gradient(180deg, #00707f, #19778c);
  --gradientViolet: linear-gradient(180deg, #6c4999, #6d4db2);
  --gradientVioletAlt: linear-gradient(180deg, #434575, #66578d);
  --gradientGold: linear-gradient(180deg, #ffd800, #fdab32);
  --gradientBold: linear-gradient(#53dee9, #9a6aff); }

[data-theme="light"] {
  --white: #fff;
  --failure: #ed4b9e;
  --failure33: #ed4b9e33;
  --primary: #1fc7d4;
  --primary0f: #1fc7d40f;
  --primary3D: #1fc7d43d;
  --primaryBright: #53dee9;
  --primaryDark: #0098a1;
  --success: #31d0aa;
  --success19: #31d0aa19;
  --warning: #ffb237;
  --warning2D: #ed4b9e2d;
  --warning33: #ed4b9e33;
  --binance: #f0b90b;
  --overlay: #452a7a;
  --gold: #ffc700;
  --silver: #b2b2b2;
  --bronze: #e7974d;
  --secondary: #7645d9;
  --secondary80: #7645d980;
  --background: #faf9fa;
  --background-reverse: #27262c;
  --backgroundDisabled: #e9eaeb;
  --backgroundAlt: #fff;
  --backgroundAlt2: rgba(255, 255, 255, 0.7);
  --cardBorder: #e7e3eb;
  --contrast: #191326;
  --dropdown: #f6f6f6;
  --dropdownDeep: #eee;
  --invertedContrast: #fff;
  --input: #eeeaf4;
  --inputSecondary: #d7caec;
  --tertiary: #eff4f5;
  --text: #280d5f;
  --text-reverse: #f4eeff;
  --text99: #280d5f99;
  --textDisabled: #bdc2c4;
  --textSubtle: #7a6eaa;
  --disabled: #e9eaeb;
  --gradientBubblegum: linear-gradient(139.73deg, #e5fdff, #f3efff);
  --gradientInverseBubblegum: linear-gradient(139.73deg, #f3efff, #e5fdff);
  --gradientCardHeader: linear-gradient(111.68deg, #f2ecf2, #e8f2f6);
  --gradientBlue: linear-gradient(180deg, #a7e8f1, #94e1f2);
  --gradientViolet: linear-gradient(180deg, #e2c9fb, #cdb8fa);
  --gradientVioletAlt: linear-gradient(180deg, #cbd7ef, #9a9fd0);
  --gradientGold: linear-gradient(180deg, #ffd800, #fdab32);
  --gradientBold: linear-gradient(#53dee9, #9a6aff); }

body {
  font-family: Kanit;
  background: var(--background);
  padding: 0;
  margin: 0; }
  body pre {
    display: none; }
  body .fixed-switch {
    z-index: 1000;
    position: fixed;
    bottom: 30px;
    right: 30px; }
    body .fixed-switch .switch {
      margin-left: 70%; }
  body .fixedBG {
    background: #08060b; }
  body h1 {
    text-align: center; }
  body img {
    cursor: pointer; }
  body .container-components {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; }
  body #tooltip {
    color: white;
    background-color: #673bb1;
    visibility: hidden;
    position: fixed;
    top: 0;
    text-align: center;
    transition: all 0.5s ease-in-out;
    z-index: 1000; }
    body #tooltip h1 {
      font-size: 27px; }
  body .container-components {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px; }
  body .component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px dashed #673bb1;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 50px; }
    body .component div {
      margin-left: auto;
      margin-right: auto; }
    body .component .component-title {
      font-family: Kanit;
      color: var(--warning);
      font-size: 50px;
      margin-left: auto;
      margin-right: auto; }
  body .component-marginfree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px dashed #673bb1;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 30px; }
    body .component-marginfree .component-title {
      font-family: Kanit;
      color: var(--warning);
      font-size: 50px;
      margin-left: auto;
      margin-right: auto; }
  body .multiple-component {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px dashed #673bb1;
    padding: 30px; }
  body .color-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    width: 83%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px; }
    body .color-container div {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      width: 150px; }
      body .color-container div .rgb-code, body .color-container div .rgb-name {
        text-align: center; }
      body .color-container div .square {
        border-radius: 7px;
        height: 45px;
        width: 45px;
        align-self: center;
        margin: 10px; }
      body .color-container div .white {
        background-color: var(--white);
        border: 1px solid var(--tertiary); }
      body .color-container div .crystal {
        background-color: var(--text); }
      body .color-container div .lightgray {
        background-color: var(--tertiary); }
      body .color-container div .text {
        background-color: var(--text); }
      body .color-container div .secondary {
        background-color: var(--secondary); }
      body .color-container div .textSubtle {
        background-color: var(--textSubtle); }
      body .color-container div .primary {
        background-color: var(--primary); }
      body .color-container div .warning {
        background-color: var(--warning); }
      body .color-container div .failure {
        background-color: var(--failure); }
      body .color-container div .failure33 {
        background-color: var(--failure33); }
      body .color-container div .primary0f {
        background-color: var(--primary0f); }
      body .color-container div .primary3D {
        background-color: var(--primary3D); }
      body .color-container div .primaryBright {
        background-color: var(--primaryBright); }
      body .color-container div .primaryDark {
        background-color: var(--primaryDark); }
      body .color-container div .success {
        background-color: var(--success); }
      body .color-container div .success19 {
        background-color: var(--success19); }
      body .color-container div .warning2D {
        background-color: var(--warning2D); }
      body .color-container div .warning33 {
        background-color: var(--warning33); }
      body .color-container div .binance {
        background-color: var(--binance); }
      body .color-container div .overlay {
        background-color: var(--overlay); }
      body .color-container div .gold {
        background-color: var(--gold); }
      body .color-container div .silver {
        background-color: var(--silver); }
      body .color-container div .bronze {
        background-color: var(--bronze); }
      body .color-container div .secondary {
        background-color: var(--secondary); }
      body .color-container div .secondary80 {
        background-color: var(--secondary80); }
      body .color-container div .background {
        background-color: var(--background); }
      body .color-container div .backgroundDisabled {
        background-color: var(--backgroundDisabled); }
      body .color-container div .backgroundAlt {
        background-color: var(--backgroundAlt); }
      body .color-container div .backgroundAlt2 {
        background-color: var(--backgroundAlt2); }
      body .color-container div .cardBorder {
        background-color: var(--cardBorder); }
      body .color-container div .dropdown {
        background-color: var(--dropdown); }
      body .color-container div .dropdownDeep {
        background-color: var(--dropdownDeep); }
      body .color-container div .invertedContrast {
        background-color: var(--invertedContrast); }
      body .color-container div .input {
        background-color: var(--input); }
      body .color-container div .inputSecondary {
        background-color: var(--inputSecondary); }
      body .color-container div .tertiary {
        background-color: var(--tertiary); }
      body .color-container div .text99 {
        background-color: var(--text99); }
      body .color-container div .textDisabled {
        background-color: var(--textDisabled); }
      body .color-container div .disabled {
        background-color: var(--disabled); }
      body .color-container div .gradientBubblegum {
        background: var(--gradientBubblegum); }
      body .color-container div .gradientInverseBubblegum {
        background: var(--gradientInverseBubblegum); }
      body .color-container div .gradientCardHeader {
        background: var(--gradientCardHeader); }
      body .color-container div .gradientBlue {
        background: var(--gradientBlue); }
      body .color-container div .gradientViolet {
        background: var(--gradientViolet); }
      body .color-container div .gradientVioletAlt {
        background: var(--gradientVioletAlt); }
      body .color-container div .gradientGold {
        background: var(--gradientGold); }
      body .color-container div .gradientBold {
        background: var(--gradientBold); }

*,
*:before,
*:after {
  box-sizing: border-box; }

pre[class*="language-"] {
  position: relative;
  overflow: auto;
  /* make space  */
  margin: 5px 0;
  padding: 1.75rem 0 1.75rem 1.75rem;
  border-radius: 10px; }

pre[class*="language-"] button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0.9rem;
  padding: 0.15rem;
  background-color: #828282;
  border: ridge 1px #7b7b7c;
  border-radius: 5px;
  text-shadow: #c4c4c4 0 0 2px; }

pre[class*="language-"] button:hover {
  cursor: pointer;
  background-color: #bcbabb; }
