* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ddd; }

@font-face {
  font-family: Kanit;
  src: url("/assets/fonts/Kanit/Kanit-ExtraLight.ttf");
  font-weight: 100; }

@font-face {
  font-family: Kanit;
  src: url("/assets/fonts/Kanit/Kanit-Light.ttf");
  font-weight: 200; }

@font-face {
  font-family: Kanit;
  src: url("/assets/fonts/Kanit/Kanit-Regular.ttf");
  font-weight: 300; }

@font-face {
  font-family: Kanit;
  src: url("/assets/fonts/Kanit/Kanit-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: Kanit;
  src: url("/assets/fonts/Kanit/Kanit-SemiBold.ttf");
  font-weight: 600; }

@font-face {
  font-family: Kanit;
  src: url("/assets/fonts/Kanit/Kanit-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: Kanit;
  src: url("/assets/fonts/Kanit/Kanit-ExtraBold.ttf");
  font-weight: 800; }

h1 {
  font-size: 64px;
  font-weight: 500; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 20px; }

p {
  font-size: 16px;
  font-weight: 600; }

a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none; }

.text-orange {
  color: #ffb237; }

.text-purple {
  color: #7645d9; }

.text-cyan {
  color: #1fc7d4; }

.text-pink {
  color: #ed4b9e; }

.text-violet {
  color: #280d5f; }

.text-lightmauve {
  color: #b8add2; }

.text-crystal {
  color: #f4eeff; }

.text-mauve {
  color: #7a6eaa; }

.text-white {
  color: #ffffff; }

.text-lightgray {
  color: #eff4f5; }

.button-text-violet {
  font-size: 16px;
  font-weight: 600;
  color: #280d5f; }

.button-text-cyan {
  font-size: 16px;
  font-weight: 600;
  color: #1fc7d4; }

.text-trading-information {
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 8px;
  font-size: 12px;
  color: #7645d9; }

.number-information-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1;
  color: #f4eeff; }

.apr-text {
  color: #b8add2;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px; }

.option-lenguage-text {
  color: #f4eeff;
  padding: 0px 8px;
  border-radius: 8px;
  font-size: 16px; }

:root {
  font-family: "Kanit"; }

h1 {
  text-align: center; }

body {
  background: -webkit-linear-gradient(top, #09070c 22%, #201335 100%); }

.container-components {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; }

.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px dashed #fff;
  padding-top: 30px;
  padding-bottom: 60px;
  gap: 30px; }
  .component .component-title {
    font-family: Kanit;
    color: #ffb237;
    font-size: 32px; }
  .component div {
    margin-left: auto;
    margin-right: auto; }

.multiple-component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 2px dashed #673bb1;
  padding: 30px; }

.color-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px; }
  .color-container div {
    display: flex;
    flex-direction: column;
    cursor: pointer; }
    .color-container div .rgb-code, .color-container div .rgb-name {
      text-align: center; }
    .color-container div .square {
      border-radius: 7px;
      height: 45px;
      width: 45px;
      align-self: center;
      margin: 10px; }
    .color-container div .white {
      background-color: #ffffff;
      border: 1px solid #eff4f5; }
    .color-container div .lightgray {
      background-color: #eff4f5; }
    .color-container div .violet {
      background-color: #280d5f; }
    .color-container div .purple {
      background-color: #7645d9; }
    .color-container div .mauve {
      background-color: #7a6eaa; }
    .color-container div .lightmauve {
      background-color: #b8add2; }
    .color-container div .cyan {
      background-color: #1fc7d4; }
    .color-container div .orange {
      background-color: #ffb237; }
    .color-container div .pink {
      background-color: #ed4b9e; }

*,
*:before,
*:after {
  box-sizing: border-box; }

pre[class*="language-"] {
  position: relative;
  overflow: auto;
  /* make space  */
  margin: 5px 0;
  padding: 1.75rem 0 1.75rem 1rem;
  border-radius: 10px; }

pre[class*="language-"] button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0.9rem;
  padding: 0.15rem;
  background-color: #828282;
  border: ridge 1px #7b7b7c;
  border-radius: 5px;
  text-shadow: #c4c4c4 0 0 2px; }

pre[class*="language-"] button:hover {
  cursor: pointer;
  background-color: #bcbabb; }
