.container {
  width: 100%;
  height: 100%;
  margin-top: 125px;
}
.container section {
  width: 100%;
  padding: 100px 12.5%;
  background: var(--gradientHeader);
}
.container .hero-section-container {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
}
@media (min-width: 576px) {
  .container .hero-section-container {
    margin-top: 0;
  }
}
@media (min-width: 852px) {
  .container .hero-section-container {
    -webkit-box-align: center;
    align-items: center;
  }
}
.container .hero-section-container .hero-text-container {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
}
.container .hero-section-container .hero-text-container .hero-text-head {
  font-size: 64px;
  color: var(--secondary);
  margin-bottom: 24px;
  font-weight: 600;
  line-height: 1.1;
}
.container .hero-section-container .hero-text-container .hero-text-subtle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  color: var(--text);
  margin-bottom: 24px;
}
.container .hero-section-container .hero-text-container .hero-button-container {
  display: flex;
}
.container .hero-section-container .hero-img-container {
  display: flex;
  position: relative;
}
@media (min-width: 852px) {
  .container .hero-section-container .hero-img-container {
    flex: 1 1 0%;
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
  }
}
.container .cake-section {
  background: var(--background);
}
.container .cake-section .cake-section-container {
  position: relative;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  z-index: 1;
  padding: 48px 0px;
}
.container .cake-section .cake-section-container .cake-section-text-img {
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 968px) {
  .container .cake-section .cake-section-container .cake-section-text-img {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media screen and (min-width: 852px) {
  .container .cake-section .cake-section-container .cake-section-text-img {
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
  }
}
@media screen and (min-width: 370px) {
  .container .cake-section .cake-section-container .cake-section-text-img {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.container .cake-section .cake-section-container .cake-section-text-img .cake-text-button {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}
@media screen and (min-width: 852px) {
  .container .cake-section .cake-section-container .cake-section-text-img .cake-text-button {
    margin-right: 64px;
    align-self: center;
  }
}
@media screen and (min-width: 852px) {
  .container .cake-section .cake-section-container .cake-section-text-img .cake-text-button .cake-text-container {
    align-self: center;
  }
}
.container .cake-section .cake-section-container .cake-section-text-img .cake-text-button .cake-text-container .cake-text-head {
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 24px;
}
@media screen and (min-width: 968px) {
  .container .cake-section .cake-section-container .cake-section-text-img .cake-text-button .cake-text-container .cake-text-head {
    font-size: 40px;
  }
}
.container .cake-section .cake-section-container .cake-section-text-img .cake-text-button .cake-text-container .cake-text-head span {
  color: var(--secondary);
}
.container .cake-section .cake-section-container .cake-section-text-img .cake-text-button .cake-text-container .cake-text-subtle {
  color: var(--textSubtle);
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 24px;
  font-size: 16px;
}
.container .cake-section .cake-section-container .cake-section-text-img .cake-text-button .cake-text-container .cake-button-container {
  display: flex;
}
.container .cake-section .cake-section-container .cake-section-text-img .cake-text-button .cake-text-container .cake-button-container a {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
  color: var(--primary);
}
.container .cake-section .cake-section-container .cake-section-text-img .cake-text-button .cake-text-container .cake-button-container a img {
  align-self: center;
  fill: var(--primary);
  flex-shrink: 0;
  margin-left: 4px;
}
.container .cake-section .cake-section-container .cake-section-text-img .cake-text-button .cake-text-container .cake-button-container a:hover {
  text-decoration: underline;
}
.container .cake-section .cake-section-container .cake-img-container {
  display: flex;
}
@media screen and (min-width: 852px) {
  .container .cake-section .cake-section-container .cake-img-container {
    flex: 1 1 0%;
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
